body{
    font-family: 'Tahoma', sans-serif;
}
img{
    max-width: 100%;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*--------------Header------------*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #f1f1f1;
    padding: 20px 110px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 14px;  
    text-transform: uppercase;  
}
.navigation ul{
    display: flex;
}
li{
    list-style: none;
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer; 
}
.cab{
    font-size: 14px;  
}
/*--------------Sell------------*/
.sell{
    background-color: white;
    padding-top: 60px;
    padding-bottom: 70px;
    margin-top: 60px;
}
.sell-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.book_logo{
    position: relative;
}
.seil{
    position: absolute;
    color:#f1f1f1;
    font-size: 18px;
    background-color: red;
    font-weight: 500;
    padding: 12px 17px;
    right: 0;
    top: 23px;
}
.name{
    font-size: 24px;
    margin-bottom: 10px;
}
.title{
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 15px;
}
.sub_title{
    font-size: 24px;
    margin-bottom: 50px;
}
.info_book{
    display: flex;
    justify-content: flex-start;
}
.data{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}
.year{
    margin-bottom: 15px;
}
.cover{
    margin-bottom: 50px;
}
.cost{
    margin-bottom: 50px;
}
.format{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}
.product{
    margin-bottom: 15px;
}
.age_block{
    margin-bottom: 70px;
}
.favorite{
    display: flex;
}
.cost{
    font-size: 55px;
}
.heart{
    width: 30px;
    margin-right: 10px;
}
.sub_heart{
    font-size: 16px;
}
.button_sell{
    width: 520px;
    display: flex;
    justify-content: space-between;
}
button{
    padding: 20px 60px;
    color: #f89c02;
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: #f89c02 2px solid;
    border-radius: 5px;
    cursor: pointer;
}
.read:hover{
    color: white;
    background-color: #f89c02;
    transition: 0.3s;
}
.buy:hover{
    color: white;
    background-color: #f89c02;
    transition: 0.3s;
}
.heart-format{
    display: flex;
    align-items: center;
}
.heart:hover path{
    cursor: pointer;
    fill: red;
}
/*---------------About------------ */
.about{
    background-color: #f1f1f1;
    padding-bottom: 100px;
}
.wrapper-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-book{
    max-width: 455px;
}
.title-about{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 35px;
}
.sub-title-about{
    font-size: 16px;
    margin-bottom: 35px;
}
.sub-title-about-two{
    font-size: 16px;
}
.wrapper-biography{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.biography{
    display: flex;
    align-items: center;
}
.author{  
    background-color: white;
    padding: 60px 40px 100px;
    border-radius: 10px;
    margin-top: 100px;
}
.wrapepr-name{
    align-items: center;
}
.photo{
   margin-right: 15px;
}
.name-photo{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.photo-artem{
    margin-bottom: 15px;
}.sub_photo{
    font-size: 16px;
}
/*-----------Reader------------- */
.reader{
    background-color: white;
    padding-top: 90px;
    padding-bottom: 110px;
}
.title-reader{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}
.reader-photo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.selfy,
.selfy1,
.selfy2{
    margin-top: 30px;
}
/*-----------Footer--------------*/
.footer{
    background-color: #f1f1f1;
    padding: 60px;
    padding-bottom: 90px;
}
.wrapper-footer{
    display: flex;
    justify-content: flex-start;
}
.title-requesetes{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 290px;
}
.sub-title-requesetes div{
    margin-bottom: 10px;
}
.sub-title-info div{
    margin-bottom: 10px;
}
.sub-title-contact div{
    margin-bottom: 10px;
}
.title-info{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-right: 270px;
}
.title-contact{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    padding: 15px;
}
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
    .book_logo{
        max-width: 390px;
        margin-right: 30px;
        min-width: 390px;
    }
    .about-book{
        max-width: 367px;
    }
    .selfy,
    .selfy1,
    .selfy2{
        width: 139px;
        height: 139px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 760px;
    }
    .navigation {
        display: none;
    }
    .book_logo{
        max-width: 300px;
        margin-right: 30px;
        min-width: 300px;
    }
    .name{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .title{
        font-size: 46px;
    }
    .sub_title{
        font-size: 24px;
        margin-bottom: 28px;
    }
    .info_book{
        font-size: 16px;
    }
    button{
        padding: 10px 40px;
        margin: 10px;
    }
    .button_sell{
        width: 400px;
    }
    .title-about{
        font-size: 24px;
        margin-bottom: 29px;
    }
    .wrapper-about{
        flex-wrap: wrap;
    }
    .about-book{
        margin-top: 80px;
        max-width: 100%;
    }
    .selfy,
    .selfy2{
        margin-right: 15px;
    }
    .selfy1{
        display: none;
    }
    .title-requesetes{
        margin-right: 200px;
    }
    .title-info{
        margin-right: 200px;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 560px;
    }
    .sell-wrapper{
        flex-wrap: wrap;
    }
    .book_logo{
        min-width: 100%;
        margin-bottom: 60px;
    }
    .book{
        width: 100%;
    }
    .selfy2{
        display: none;
    }
    .selfy, 
    .selfy1{
        margin-right: 26px;
    }
    .wrapper-footer{
        flex-wrap: wrap;
    }
    .title-requesetes{
        margin-right: 200px;
    }
    .title-info{
        margin-right: 0;
    }
    .title-contact{
        margin-top: 40px;
    }
}
@media (max-width: 576px) {
    .container{
        width: 95%;
    }
    .title-contact{
        margin-right: 200px;
    }
    .title-info{
        margin-top: 40px;
    }
    .button_sell{
        flex-wrap: wrap;
    }
    .read{
        width: 100%;
        padding: 20px;
    }
    .buy{
        width: 100%;
        padding: 20px;
    }
}
@media (max-width: 480px) {
    .container{
        width: 95%;
    }
}